@media only screen and (min-width: 300px) and (max-width: 991px) {
    .top-bar{
        display: none;
    }
    .nav-search{
        display: none;
    }
    .create-account{
        padding-bottom: 100px;
    }
    .navbar button span{
        display: none;
    }
    .navbar-toggler:focus{
        border: none;
    }
    .navbar-collapse ul{
        background-color: bisque;
        text-align: center;
        padding-right: 30%;
    }
    .footer-email input{
        padding: 8px 35px;
    }
    .footer-send button{
        padding: 8px 100px;
    }
    .name input , .email input , .password input{
        margin-left: -50px;
        width: 160%;
    }
    .footer-1{
        text-align: center;
    }
    .footer-2 , .footer-3 , .footer-4 , .footer-5{
        text-align: center;
        padding-top: 50px;
    }.create-account{
        padding-top: 0px;
    }
    .icons{
        display: none;
    }
    .main-footer{
        margin-top: 20px;
    }
    .footer-text-1{
        padding-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
    }
    .footer-text-2 , .footer-text-3 , .footer-text-4 ,.footer-text-5{
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
    }
    .mob-image{
        padding-top: 30px;
    }
}